{%load static%}
<div id="wrapper">
    <section id="header">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'images/edura-logo.png'%}" alt="Edura - Multipurpose Website Template">
                    </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-left" role="search" method="GET">
                        <div class="input-group">
        
                            <input class="form-control" type="text" name="q" placeholder="Ürün Ara"
                                value="{{ request.GET.q }}">
                            <span class="input-group-btn">
                                <input class="btn btn-secondary" type="submit" value="Ara">
                            </span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'edura/index-2.html' %} ">Homepage 1</a></li>
                                <li><a href="{% static 'edura/index-3.html' %}">Homepage 2</a></li>
                                <li><a href="{% static 'edura/index-4.html' %}">Homepage 3</a></li>
                                <li><a href="{% static 'edura/index-5.html' %}">Homepage 4</a></li>
                                <li><a href="{% static 'edura/index-6.html' %}">Home 5 (Full Carousel)</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                role="button" aria-haspopup="true" aria-expanded="false">Sayfalar</a>
                            <ul class="dropdown-menu">
                                <li><a href="about-us.html">Hakkımızda</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="services.html">Servis</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="404.html">404 Error</a></li>
                            </ul>
                        </li>



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                role="button" aria-haspopup="true" aria-expanded="false">Alışveriş</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop-product.html">Product</a></li>
                                <li><a href="shop-product-sidebar-left.html">Product Sidebar Left</a></li>
                                <li><a href="shop-product-sidebar-right.html">Product Sidebar Right</a></li>
                                <li><a href="shop-catalog.html">Catalog</a></li>
                                <li><a href="shop-catalog-sidebar-left.html">Catalog Sidebar Left</a></li>
                                <li><a href="shop-catalog-sidebar-right.html">Catalog Sidebar Right</a></li>
                                <li><a href="shop-cart.html">Shopping Cart</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                role="button" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                            <ul class="dropdown-menu">
                                <li><a href="contactus-1.html">Contact Us 1</a></li>
                                <li><a href="contactus-2.html">Contact Us 2</a></li>
                                <li><a href="contactus-3.html">Contact Us 3</a></li>
                                <li><a href="contactus-4.html">Contact Us 4</a></li>
                            </ul>
                        </li>

                        <li><a href="shop-cart.html"><i class="fa fa-shopping-cart fa-fw"></i> Sepet (2)</a></li>

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">({{
                                user.username
                                }}) Çıkış</a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {%csrf_token%}
                                <input type="hidden">
                            </form>
                        </li>
                        {% else %}
                        <li {% if 'login' in request.path %} class="nav-item active" {% else %} class="nav-item" {%endif %}>
                            
                            <a href="{% url 'login' %}" class="nav-link">Giriş</a>
                        </li>
                        <li {% if 'register' in request.path %} class="nav-item active" {% else %} class="nav-item" {%endif %}>
                            
                            <a href="{% url 'register' %}" class="nav-link">Kayıt</a>

                        {% endif %}
                    </ul>



                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </section>
    <section class="cd-hero">
        <ul class="list-unstyled cd-hero-slider autoplay">

            <li class="selected" style="background-image:url({%static 'edura/images/slides/slide3.jpg'%});">
                <div class="container">
                    <h1>Edura Template</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</h2>
                    <a href="#" class="btn btn-primary btn-lg text-uppercase">Hello World</a>
                </div>
            </li>

            <li style="background-image:url({%static 'edura/images/slides/slide10.jpg'%});">
                <div class="container">
                    <h1>Responsive Design</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</h2>
                    <a href="#" class="btn btn-primary btn-lg text-uppercase">Hello World</a>
                </div>
            </li>

            <li style="background-image:url({%static 'edura/images/slides/slide11.jpg'%});">
                <div class="container">
                    <h1>We Are Edura</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</h2>
                    <a href="#" class="btn btn-primary btn-lg text-uppercase">Hello World</a>
                </div>
            </li>

        </ul>


        <div class="arrow-nav">
            <div class="prev"><a class="hero-prev" href="#"><i class="fa fa-angle-left"></i></a></div>
            <div class="next"><a class="hero-next" href="#"><i class="fa fa-angle-right"></i></a></div>
        </div>

    </section>
</div>



<!--  -->